[directories]
manifest_directory=manifest
pipeline_results_directory=pipeline_results
temp_assets_directory=temp_assets
unity_assets_directory=unity_assets
deserialized_assets_directory=deserialized_assets
master_db_directory=database
api_version_directory=version

[pipeline_results]
character=character.json
boss=boss.json
clan_battle_schedule=clan_battle_schedule.json

[endpoints]
latest_version_endpoint=https://redive.estertion.win/last_version_jp.json
priconne_cdn_host=http://prd-priconne-redive.akamaized.net
tsumugi=http://localhost:5004

[pcrddatabase]
api_version_info=api_version.json
master_db=current_master.db
manifest_file=current_unit_manifest.txt

[usedtranslationapis]
google_translate=true
mymemory_translate=true
deepl_translate=false
yandex_translate=false
microsoft_translate=true

[aws]
s3_bucket=
s3_region_name=